
afterstep/asetroot
afterstep/audio
afterstep/autoexec
afterstep/base.15bpp
afterstep/base.16bpp
afterstep/base.24bpp
afterstep/base.32bpp
afterstep/base.8bpp
afterstep/compatibility
afterstep/pager
afterstep/start/.include
afterstep/start/Desktop/Feel/.include
afterstep/start/Desktop/Look/.include
afterstep/start/Desktop/Pictures/.include
afterstep/start/Desktop/Theme/.include
afterstep/wharf
afterstep/zharf
asimagelib/Makefile
autoconf/Makefile.common
autoconf/Makefile.common.lib
autoconf/Makefile.defines
config.h
config.log
config.status
configure.h
doc/afterstepdoc
doc/Makefile
lib/Makefile
Makefile
src/afterstep/Makefile
src/Animate/Makefile
src/asetroot/Makefile
src/Audio/Makefile
src/Banner/Makefile
src/Cascade/Makefile
src/Clean/Makefile
src/Config/Makefile
src/Form/Makefile
src/Gnome/Makefile
src/Ident/Makefile
src/Pager/Makefile
src/Save/Makefile
src/Script/Makefile
src/Script/Widgets/Makefile
src/Scroll/Makefile
src/Sound/Makefile
src/test/Makefile
src/Tile/Makefile
src/Wharf/Makefile
src/WinList/Makefile
src/Zharf/Makefile
tools/installastheme.pl
tools/makeastheme.pl
tools/Makefile
lib/ASmodule.o
lib/audit.o
lib/catstring3.o
lib/copystring.o
lib/findfile.o
lib/font.o
lib/getcolor.o
lib/getfdwidth.o
lib/homeanddirs.o
lib/hostname.o
lib/mystrcasecmp.o
lib/mystrdup.o
lib/parse.o
lib/parser.o
lib/readpacket.o
lib/safemalloc.o
lib/sleep.o
lib/strncmp.o
lib/termhash.o
lib/timer.o
lib/Xmodule.o
src/afterstep/add_window.o
src/afterstep/afterstep.o
src/afterstep/borders.o
src/afterstep/clientwin.o
src/afterstep/colormaps.o
src/afterstep/configure.o
src/afterstep/decorations.o
src/afterstep/dirtree.o
src/afterstep/events.o
src/afterstep/frame.o
src/afterstep/functions.o
src/afterstep/gnome.o
src/afterstep/icons.o
src/afterstep/menus.o
src/afterstep/misc.o
src/afterstep/module.o
src/afterstep/move.o
src/afterstep/myscandir.o
src/afterstep/pager.o
src/afterstep/placement.o
src/Animate/Animate.o
src/asetroot/asetroot.o
src/Audio/Audio.o
src/Banner/Banner.o
src/Cascade/Cascade.o
src/Clean/Clean.o
src/Config/ASetRoot.o
src/Config/Base.o
src/Config/libasConfig.a
src/Config/MyStyle.o
src/Config/Pager.o
src/Form/Form.o
src/Gnome/Gnome.o
src/Ident/Ident.o
src/Pager/Pager.o
src/Pager/x_pager.o
src/Save/Save.o
src/Script/libyywrap.o
src/Scroll/GrabWindow.o
src/Scroll/Scroll.o
src/Sound/ASSound.o
src/Tile/Tile.o
src/Wharf/icons.o
src/Wharf/Wharf.o
